header{
    color: #fff;
    background-color: #d3d3d3;
}

a{
    color: #000;
    background-color: #DCDCDC;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

section{
    background-color: #808080;
}


h2{
    color: #00f;
    text-transform: uppercase;
}

img{
    display: none;
}