header{
    color: white;
    background-color: lightgray;
}

a{
    color: black;
    background-color: #DCDCDC;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

main{
    font-weight: bold;
    background-color: gray;
}

h2{
    color: rgb(11, 11, 190);
    text-transform: uppercase;
}

img{
    display: none;
}

